//
// user-variables.scss
// Use this to overwrite Bootstrap and Block variables
//
// Example of a variable override to change Block primary color
// Remove the "//" to comment it in and see it in action!
// $primary: #000;


.bg-blur-black-sc {
background-color: #1f1f1f8c !important;
border: none !important;
backdrop-filter: blur(14px);
}

a.navbar-brand img {
    max-width: 40px;
}

.navbar .navbar-brand {
    padding-left: 0.2rem;
}

.card-blur-new {
    background: #232323d9;
    backdrop-filter: blur(14px);
    background: rgb(31,31,31);
    background: linear-gradient(225deg, rgb(14 14 14) 0%, rgb(10 10 10) 50%, rgb(14 14 14) 100%);
    border: none !important;
}

.tilt-box {
    border-radius: 20px;
    overflow: hidden; /* This clips the glare to the border-radius */
    position: relative; /* Ensures children stay inside the border */
    transform-style: preserve-3d !important;
}

/* Ensure glare respects the border */
.tilt-box .js-tilt-glare {
    border-radius: inherit; /* Inherits the tilt-box's border-radius */
    overflow: hidden; /* Clips glare within the box */
}

/* Optional: Smooth hover effect */
.tilt-box:hover {
    transition: transform 0.2s ease;
}

.inner-layer-1 {
    transform: translateZ(50px) !important;
    
}


    #three-container {
      width: 120% !important;
      height: 250px !important;
      margin-top:-50px;
      margin-left:-10%;
    }
